.VideoList h2 {
  font-size: 2rem;
}
.VideoListConatiner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.VideoList input {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
